*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Abril Fatface';
    font-size: 22px;
}
/*nav*/

nav{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: #590040;
    position: fixed;
    top: 0;
    width: 100%
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
.content {
    padding: 16px;
}
.sticky + .content {
    padding-top: 60px;
}

.menu{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.menu li{
    list-style: none;
}
.menu a{
    color: #fffcd6;
    text-decoration: none;
    font-size: 15px;
    padding: 30px;
    transition: .9s;
    font-weight: 600;
    text-decoration: underline;
}
.menu a:hover {
    color: deepskyblue;
    font-weight: 500;
    letter-spacing: 2px;
}
.bar{
    display: none;
    cursor: pointer;
}
.bar div{
    width: 25px;
    height: 3px;
    background-color: #fffcd6;
    margin: 5px;
    transition: all .5s ease;
}
@media screen and (max-width:1024px){
    .menu{
        width: 60%;
    }
}
@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .menu{
        position: absolute;
        right: -100%;
        height: 90vh;
        top: 10vh;
        background-color: #590040;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out;
    }
    .bar{
        display: block;
    }
}
body {
    text-align: center;
    background-image: url('/pablo-garcia-portfolio/src/assets/Stacked\ Wave\ \(1\).svg');
    height: 100%;
    overflow: scroll;
    height: 100%;
    margin: auto;
    width: 100%;

  }
  
  .text {
    font-family: 'Abril Fatface';
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 8px;
    color: lemonchiffon;
    top: -48px;
    position: relative;
  }
  .svg-wrapper:hover .shape {
    stroke-width: 2px;
    stroke-dashoffset: 0;
    stroke-dasharray: 760;
}
.nav-active{
    transform: translateX(-100%);
}
.bar-active .bar-1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.bar-active .bar-2{
    opacity: 0;
}
.bar-active .bar-3{
    transform: rotate(45deg) translate(-5px, -6px);
}


.banner {
    height: 100vh;
    background-size: cover;
    background-position: center;
}

/*.heading-boxes > * {
    background:#590040;
    border-radius:.30px;
    overflow:hidden;
    color:#fffcd6;
}
.heading-boxes > * > h1,
.heading-boxes > * > h2,
.heading-boxes > * > h3 {
    background:#590040;
    margin:0;
    color:lemonchiffon;
    text-decoration: underline;
    border-radius: 30px;
    padding:.5em calc(8px + 1.5625vw);
}
.heading-boxes > * > div {
    padding:0 calc(8px + 1.5625vw) .5em;
}*/

ol{
    background-color: lemonchiffon;
    border-radius: 30px;
    text-align: center;
    color:#590040;
   
}

  .content a {
    /*background: rgb(101, 206, 241);*/
    text-decoration: none;
    padding: 15px 30px;
    color:#A91CF7;
    display: inline-block;
    margin-top: 20px;
  }
  
  .wrapper {
    width: 1060px;
    padding-top: 400px;
    padding-bottom: 100px;
    margin: auto;
    padding-top: 12%;

}
.column {
    float: left;
    width: 25%;
  }

  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

@media only screen and (min-width: 768px) and (max-width: 991px){
    .wrapper {
        width: 75%;
        padding-top: 26%;
    }
    .content{
        text-align: center;
    }
    .content h2 {
        font-size: 60px;
    }
    .content p {
        width: 100%;
    }
}

@media screen and (max-width: 767px){
    .banner {
        background-position: 60%;
    }
    .wrapper {
        width: 75%;
        padding-top: 26%;
    }
    .content h2 {
        font-size: 30px;
    }
    .content p {
        width: 100%;
    }
}
.accordion {
    background-color: #fffcd6;
    text-decoration: underline;
    color: #590040;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border:none;
    text-align: center;
    outline: none;
    transition: 0.4s;
    border-radius: 30px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #590040;
    color:#fffcd6;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: #590040;
    border-radius: 30px;
    color:#fffcd6;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }