nav{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: #590040;
}
.logo {
    color: #fffcd6;
    text-transform: capitalize;
    font-size: 24px;
    cursor: pointer;
    font-weight: 900;
    letter-spacing: 1p
}
.logo span{
    color: #fffcd6; 
}

.menu{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.menu li{
    list-style: none;
}
.menu a{
    color: #fffcd6;
    text-decoration: none;
    font-size: 15px;
    padding: 30px;
    transition: .9s;
    font-weight: 600;
    text-decoration: underline;
}
.menu a:hover {
    color: deepskyblue;
    font-weight: 500;
    letter-spacing: 2px;
}
.bar{
    display: none;
    cursor: pointer;
}
.bar div{
    width: 25px;
    height: 3px;
    background-color: #fffcd6;
    margin: 5px;
    transition: all .5s ease;
}
@media screen and (max-width:1024px){
    .menu{
        width: 60%;
    }
}
@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .menu{
        position: absolute;
        right: -100%;
        height: 90vh;
        top: 10vh;
        background-color: #590040;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out;
    }
    .bar{
        display: block;
    }
}